<environment>
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
</environment>
<div>
    <div class="row">
        <div class="col-md-4 about ">
            <div class="col-md-12 " style="margin: 50px 0">
                <h1><b style="color: #2aabd2">ABOUT US</b></h1>
                <h3>Group members</h3>
                <ul>
                    <li>Nguyễn Hoàng Linh</li>
                    <li>Trần Văn Phường</li>
                    <li>Nguyễn Triệu Phú</li>
                    <li>Đỗ Quang Du</li>
                    <li>Mai Xuân Lập</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 img1 " style="float: right;padding: 50px 0px;">
            <img src="~/IMG/ER-011-copy.jpg" />
        </div>
    </div>
</div>
